modules/cstl-services/src/main/webapp/WEB-INF/wsdl/sos.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!-- generated by glegal -->
<definitions xmlns:ows="http://www.opengis.net/ows/1.1" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://soap.ws.sos.constellation.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.ws.sos.constellation.org/" name="SOServiceService">
    <types>
        <!--xsd:schema>
            <xsd:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://localhost:8080/constellation-adminjsf/WS-SOAP/sos?xsd=12"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://www.w3.org/2005/08/addressing" schemaLocation="http://localhost:8080/constellation-adminjsf/WS-SOAP/sos?xsd=23"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://www.w3.org/1999/xlink" schemaLocation="http://www.w3.org/1999/xlink.xsd"/>
        </xsd:schema-->
        <xsd:schema>
            <xsd:import namespace="http://www.opengis.net/swes/2.0" schemaLocation="http://schemas.opengis.net/swes/2.0/swes.xsd"/>
        </xsd:schema>
        <!--xsd:schema>
            <xsd:import namespace="http://www.opengis.net/swe/1.0.1" schemaLocation="http://schemas.opengis.net/sweCommon/1.0.1/swe.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://www.opengis.net/swe/1.0" schemaLocation="http://schemas.opengis.net/sweCommon/1.0.0/swe.xsd"/>
        </xsd:schema-->
        <xsd:schema>
            <xsd:import namespace="http://www.opengis.net/sos/2.0" schemaLocation="http://schemas.opengis.net/sos/2.0/sos.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://www.opengis.net/sos/1.0" schemaLocation="http://schemas.opengis.net/sos/1.0.0/sosAll.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://www.opengis.net/sensorML/1.0.1" schemaLocation="http://schemas.opengis.net/sensorML/1.0.1/sensorML.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://www.opengis.net/sensorML/1.0" schemaLocation="http://schemas.opengis.net/sensorML/1.0.0/sensorML.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://www.opengis.net/sampling/1.0" schemaLocation="http://schemas.opengis.net/sampling/1.0.0/sampling.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://www.opengis.net/ows/1.1" schemaLocation="http://schemas.opengis.net/ows/1.1.0/owsAll.xsd"/>
        </xsd:schema>
        <!--xsd:schema>
            <xsd:import namespace="http://www.opengis.net/om/2.0" schemaLocation="http://schemas.opengis.net/om/2.0/observation.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://www.opengis.net/om/1.0" schemaLocation="http://schemas.opengis.net/om/1.0.0/om.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://www.opengis.net/ogc" schemaLocation="http://schemas.opengis.net/filter/1.1.0/filterAll.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://www.opengis.net/fes/2.0" schemaLocation="http://schemas.opengis.net/filter/2.0/filterAll.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://www.isotc211.org/2005/gts" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gts/gts.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://www.isotc211.org/2005/gmx" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmx/gmx.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://www.isotc211.org/2005/gmi" schemaLocation="http://localhost:8080/constellation-adminjsf/WS-SOAP/sos?xsd=16"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gco/gco.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://soap.ws.sos.constellation.org/" schemaLocation="http://localhost:8080/constellation-adminjsf/WS-SOAP/sos?xsd=20"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://docs.oasis-open.org/wsn/t-1" schemaLocation="http://localhost:8080/constellation-adminjsf/WS-SOAP/sos?xsd=21"/>
        </xsd:schema-->
    </types>
    <message name="getResult">
        <part xmlns:ns1="http://www.opengis.net/sos/1.0" name="GetResult" element="ns1:GetResult"/>
    </message>
    <message name="getResultResponse">
        <part xmlns:ns2="http://www.opengis.net/sos/1.0" name="GetResultResponse" element="ns2:GetResultResponse"/>
    </message>
    <message name="getResultV2">
        <part xmlns:ns1="http://www.opengis.net/sos/2.0" name="GetResult" element="ns1:GetResult"/>
    </message>
    <message name="getResultV2Response">
        <part xmlns:ns2="http://www.opengis.net/sos/2.0" name="GetResultResponse" element="ns2:GetResultResponse"/>
    </message>
    <message name="getCapabilities">
        <part xmlns:ns3="http://www.opengis.net/sos/1.0" name="GetCapabilities" element="ns3:GetCapabilities"/>
    </message>
    <message name="getCapabilitiesResponse">
        <part xmlns:ns4="http://www.opengis.net/sos/1.0" name="Capabilities" element="ns4:Capabilities"/>
    </message>
    <message name="getObservation">
        <part xmlns:ns5="http://www.opengis.net/sos/1.0" name="GetObservation" element="ns5:GetObservation"/>
    </message>
    <message name="getObservationResponse">
        <part xmlns:ns6="http://www.opengis.net/om/1.0" name="ObservationCollection" element="ns6:ObservationCollection"/>
    </message>
    <message name="getObservationV2">
        <part xmlns:ns5="http://www.opengis.net/sos/2.0" name="GetObservation" element="ns5:GetObservation"/>
    </message>
    <message name="getObservationV2Response">
        <part xmlns:ns6="http://www.opengis.net/sos/2.0" name="GetObservationResponse" element="ns6:GetObservationResponse"/>
    </message>
    <message name="describeSensor">
        <part xmlns:ns7="http://www.opengis.net/sos/1.0" name="DescribeSensor" element="ns7:DescribeSensor"/>
    </message>
    <message name="describeSensorResponse">
        <part name="describeSensorResponse" element="tns:describeSensorResponse"/>
    </message>
    <message name="deleteSensor">
        <part xmlns:ns7="http://www.opengis.net/swes/2.0" name="DeleteSensor" element="ns7:DeleteSensor"/>
    </message>
    <message name="deleteSensorResponse">
        <part name="deleteSensorResponse" element="tns:deleteSensorResponse"/>
    </message>
    <message name="getFeatureOfInterest">
        <part xmlns:ns8="http://www.opengis.net/sos/1.0" name="GetFeatureOfInterest" element="ns8:GetFeatureOfInterest"/>
    </message>
    <message name="getFeatureOfInterestResponse">
        <part name="getFeatureOfInterestResponse" element="tns:getFeatureOfInterestResponse"/>
    </message>
    <message name="getFeatureOfInterestV2">
        <part xmlns:ns8="http://www.opengis.net/sos/2.0" name="GetFeatureOfInterest" element="ns8:GetFeatureOfInterest"/>
    </message>
    <message name="getFeatureOfInterestV2Response">
        <part name="getFeatureOfInterestV2Response" element="tns:getFeatureOfInterestV2Response"/>
    </message>
    <message name="insertObservation">
        <part xmlns:ns9="http://www.opengis.net/sos/1.0" name="InsertObservation" element="ns9:InsertObservation"/>
    </message>
    <message name="insertObservationResponse">
        <part xmlns:ns10="http://www.opengis.net/sos/1.0" name="InsertObservationResponse" element="ns10:InsertObservationResponse"/>
    </message>
    <message name="registerSensor">
        <part xmlns:ns11="http://www.opengis.net/sos/1.0" name="RegisterSensor" element="ns11:RegisterSensor"/>
    </message>
    <message name="registerSensorResponse">
        <part xmlns:ns12="http://www.opengis.net/sos/1.0" name="RegisterSensorResponse" element="ns12:RegisterSensorResponse"/>
    </message>
    <message name="getFeatureOfInterestTime">
        <part xmlns:ns13="http://www.opengis.net/sos/1.0" name="GetFeatureOfInterestTime" element="ns13:GetFeatureOfInterestTime"/>
    </message>
    <message name="getFeatureOfInterestTimeResponse">
        <part name="getFeatureOfInterestTimeResponse" element="tns:getFeatureOfInterestTimeResponse"/>
    </message>
    <message name="getCapabilitiesV2">
        <part xmlns:ns14="http://www.opengis.net/sos/2.0" name="GetCapabilities" element="ns14:GetCapabilities"/>
    </message>
    <message name="getCapabilitiesV2Response">
        <part xmlns:ns15="http://www.opengis.net/sos/2.0" name="Capabilities" element="ns15:Capabilities"/>
    </message>
    <message name="describeSensorV2">
        <part xmlns:ns16="http://www.opengis.net/swes/2.0" name="DescribeSensor" element="ns16:DescribeSensor"/>
    </message>
    <message name="describeSensorV2Response">
        <part name="describeSensorV2Response" element="tns:describeSensorV2Response"/>
    </message>
    <message name="insertSensor">
        <part xmlns:ns17="http://www.opengis.net/swes/2.0" name="InsertSensor" element="ns17:InsertSensor"/>
    </message>
    <message name="insertSensorResponse">
        <part xmlns:ns18="http://www.opengis.net/swes/2.0" name="InsertSensorResponse" element="ns18:InsertSensorResponse"/>
    </message>
    <message name="insertObservationV2">
        <part xmlns:ns19="http://www.opengis.net/sos/2.0" name="InsertObservation" element="ns19:InsertObservation"/>
    </message>
    <message name="insertObservationV2Response">
        <part xmlns:ns20="http://www.opengis.net/sos/2.0" name="InsertObservationResponse" element="ns20:InsertObservationResponse"/>
    </message>
    <message name="insertResultTemplate">
        <part xmlns:ns19="http://www.opengis.net/sos/2.0" name="InsertResultTemplate" element="ns19:InsertResultTemplate"/>
    </message>
    <message name="insertResultTemplateResponse">
        <part xmlns:ns20="http://www.opengis.net/sos/2.0" name="InsertResultTemplateResponse" element="ns20:InsertResultTemplateResponse"/>
    </message>
    <message name="insertResult">
        <part xmlns:ns19="http://www.opengis.net/sos/2.0" name="InsertResult" element="ns19:InsertResult"/>
    </message>
    <message name="insertResultResponse">
        <part xmlns:ns20="http://www.opengis.net/sos/2.0" name="InsertResultResponse" element="ns20:InsertResultResponse"/>
    </message>
    <message name="getResultTemplate">
        <part xmlns:ns19="http://www.opengis.net/sos/2.0" name="GetResultTemplate" element="ns19:GetResultTemplate"/>
    </message>
    <message name="getResultTemplateResponse">
        <part xmlns:ns20="http://www.opengis.net/sos/2.0" name="GetResultTemplateResponse" element="ns20:GetResultTemplateResponse"/>
    </message>
    <message name="Exception">
        <part name="fault" element="ows:Exception" /> 
    </message>
    <portType name="SOService">
        <operation name="getResult">
            <input wsam:Action="getResult" message="tns:getResult"/>
            <output wsam:Action="http://soap.ws.sos.constellation.org/SOService/getResultResponse" message="tns:getResultResponse"/>
            <fault message="tns:Exception" name="Exception" /> 
        </operation>
        <operation name="getResultV2">
            <input wsam:Action="getResultV2" message="tns:getResultV2"/>
            <output wsam:Action="http://soap.ws.sos.constellation.org/SOService/getResultV2Response" message="tns:getResultV2Response"/>
            <fault message="tns:Exception" name="Exception" /> 
        </operation>
        <operation name="getCapabilities">
            <input wsam:Action="getCapabilities" message="tns:getCapabilities"/>
            <output wsam:Action="http://soap.ws.sos.constellation.org/SOService/getCapabilitiesResponse" message="tns:getCapabilitiesResponse"/>
            <fault message="tns:Exception" name="Exception" /> 
        </operation>
        <operation name="getCapabilitiesV2">
            <input wsam:Action="getCapabilitiesV2" message="tns:getCapabilitiesV2"/>
            <output wsam:Action="http://soap.ws.sos.constellation.org/SOService/getCapabilitiesV2Response" message="tns:getCapabilitiesV2Response"/>
            <fault message="tns:Exception" name="Exception" /> 
        </operation>
        <operation name="getObservation">
            <input wsam:Action="getObservation" message="tns:getObservation"/>
            <output wsam:Action="http://soap.ws.sos.constellation.org/SOService/getObservationResponse" message="tns:getObservationResponse"/>
            <fault message="tns:Exception" name="Exception" /> 
        </operation>
        <operation name="getObservationV2">
            <input wsam:Action="getObservationV2" message="tns:getObservationV2"/>
            <output wsam:Action="http://soap.ws.sos.constellation.org/SOService/getObservationV2Response" message="tns:getObservationV2Response"/>
            <fault message="tns:Exception" name="Exception" /> 
        </operation>
        <operation name="describeSensor">
            <input wsam:Action="describeSensor" message="tns:describeSensor"/>
            <output wsam:Action="http://soap.ws.sos.constellation.org/SOService/describeSensorResponse" message="tns:describeSensorResponse"/>
            <fault message="tns:Exception" name="Exception" /> 
        </operation>
        <operation name="getFeatureOfInterest">
            <input wsam:Action="getFeatureOfInterest" message="tns:getFeatureOfInterest"/>
            <output wsam:Action="http://soap.ws.sos.constellation.org/SOService/getFeatureOfInterestResponse" message="tns:getFeatureOfInterestResponse"/>
            <fault message="tns:Exception" name="Exception" /> 
        </operation>
        <operation name="getFeatureOfInterestV2">
            <input wsam:Action="getFeatureOfInterestV2" message="tns:getFeatureOfInterestV2"/>
            <output wsam:Action="http://soap.ws.sos.constellation.org/SOService/getFeatureOfInterestV2Response" message="tns:getFeatureOfInterestV2Response"/>
            <fault message="tns:Exception" name="Exception" /> 
        </operation>
        <operation name="insertObservation">
            <input wsam:Action="InsertObservation" message="tns:insertObservation"/>
            <output wsam:Action="http://soap.ws.sos.constellation.org/SOService/insertObservationResponse" message="tns:insertObservationResponse"/>
            <fault message="tns:Exception" name="Exception" /> 
        </operation>
        <operation name="registerSensor">
            <input wsam:Action="registerSensor" message="tns:registerSensor"/>
            <output wsam:Action="http://soap.ws.sos.constellation.org/SOService/registerSensorResponse" message="tns:registerSensorResponse"/>
            <fault message="tns:Exception" name="Exception" /> 
        </operation>
        <operation name="getFeatureOfInterestTime">
            <input wsam:Action="getFeatureOfInterestTime" message="tns:getFeatureOfInterestTime"/>
            <output wsam:Action="http://soap.ws.sos.constellation.org/SOService/getFeatureOfInterestTimeResponse" message="tns:getFeatureOfInterestTimeResponse"/>
            <fault message="tns:Exception" name="Exception" /> 
        </operation>
        <operation name="describeSensorV2">
            <input wsam:Action="describeSensorV2" message="tns:describeSensorV2"/>
            <output wsam:Action="http://soap.ws.sos.constellation.org/SOService/describeSensorV2Response" message="tns:describeSensorV2Response"/>
            <fault message="tns:Exception" name="Exception" /> 
        </operation>
        <operation name="insertSensor">
            <input wsam:Action="insertSensor" message="tns:insertSensor"/>
            <output wsam:Action="http://soap.ws.sos.constellation.org/SOService/insertSensorResponse" message="tns:insertSensorResponse"/>
            <fault message="tns:Exception" name="Exception" /> 
        </operation>
        <operation name="deleteSensor">
            <input wsam:Action="deleteSensor" message="tns:deleteSensor"/>
            <output wsam:Action="http://soap.ws.sos.constellation.org/SOService/deleteSensorResponse" message="tns:deleteSensorResponse"/>
            <fault message="tns:Exception" name="Exception" /> 
        </operation>
        <operation name="insertObservationV2">
            <input wsam:Action="InsertObservationV2" message="tns:insertObservationV2"/>
            <output wsam:Action="http://soap.ws.sos.constellation.org/SOService/insertObservationV2Response" message="tns:insertObservationV2Response"/>
            <fault message="tns:Exception" name="Exception" /> 
        </operation>
        <operation name="insertResultTemplate">
            <input wsam:Action="insertResultTemplate" message="tns:insertResultTemplate"/>
            <output wsam:Action="http://soap.ws.sos.constellation.org/SOService/insertResultTemplateResponse" message="tns:insertResultTemplateResponse"/>
            <fault message="tns:Exception" name="Exception" /> 
        </operation>
        <operation name="insertResult">
            <input wsam:Action="insertResult" message="tns:insertResult"/>
            <output wsam:Action="http://soap.ws.sos.constellation.org/SOService/insertResultResponse" message="tns:insertResultResponse"/>
            <fault message="tns:Exception" name="Exception" /> 
        </operation>
        <operation name="getResultTemplate">
            <input wsam:Action="getResultTemplate" message="tns:getResultTemplate"/>
            <output wsam:Action="http://soap.ws.sos.constellation.org/SOService/getResultTemplateResponse" message="tns:getResultTemplateResponse"/>
            <fault message="tns:Exception" name="Exception" /> 
        </operation>
    </portType>
    <binding name="SOServicePortBinding" type="tns:SOService">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="getResult">
            <soap12:operation soapAction="getResult"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="Exception">
                <soap12:fault name="Exception" use="literal" /> 
            </fault>
        </operation>
        <operation name="getResultV2">
            <soap12:operation soapAction="getResultV2"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="Exception">
                <soap12:fault name="Exception" use="literal" /> 
            </fault>
        </operation>
        <operation name="getCapabilities">
            <soap12:operation soapAction="getCapabilities"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="Exception">
                <soap12:fault name="Exception" use="literal" /> 
            </fault>
        </operation>
        <operation name="getObservation">
            <soap12:operation soapAction="getObservation"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="Exception">
                <soap12:fault name="Exception" use="literal" /> 
            </fault>
        </operation>
        <operation name="getObservationV2">
            <soap12:operation soapAction="getObservationV2"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="Exception">
                <soap12:fault name="Exception" use="literal" /> 
            </fault>
        </operation>
        <operation name="describeSensor">
            <soap12:operation soapAction="describeSensor"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="Exception">
                <soap12:fault name="Exception" use="literal" /> 
            </fault>
        </operation>
        <operation name="getFeatureOfInterest">
            <soap12:operation soapAction="getFeatureOfInterest"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="Exception">
                <soap12:fault name="Exception" use="literal" /> 
            </fault>
        </operation>
        <operation name="getFeatureOfInterestV2">
            <soap12:operation soapAction="getFeatureOfInterestV2"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="Exception">
                <soap12:fault name="Exception" use="literal" /> 
            </fault>
        </operation>
        <operation name="insertObservation">
            <soap12:operation soapAction="InsertObservation"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="Exception">
                <soap12:fault name="Exception" use="literal" /> 
            </fault>
        </operation>
        <operation name="registerSensor">
            <soap12:operation soapAction="registerSensor"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="Exception">
                <soap12:fault name="Exception" use="literal" /> 
            </fault>
        </operation>
        <operation name="getFeatureOfInterestTime">
            <soap12:operation soapAction="getFeatureOfInterestTime"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="Exception">
                <soap12:fault name="Exception" use="literal" /> 
            </fault>
        </operation>
        <operation name="getCapabilitiesV2">
            <soap12:operation soapAction="getCapabilitiesV2"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="Exception">
                <soap12:fault name="Exception" use="literal" /> 
            </fault>
        </operation>
        <operation name="describeSensorV2">
            <soap12:operation soapAction="describeSensorV2"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="Exception">
                <soap12:fault name="Exception" use="literal" /> 
            </fault>
        </operation>
        <operation name="insertSensor">
            <soap12:operation soapAction="insertSensor"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="Exception">
                <soap12:fault name="Exception" use="literal" /> 
            </fault>
        </operation>
        <operation name="deleteSensor">
            <soap12:operation soapAction="deleteSensor"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="Exception">
                <soap12:fault name="Exception" use="literal" /> 
            </fault>
        </operation>
        <operation name="insertObservationV2">
            <soap12:operation soapAction="InsertObservationV2"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="Exception">
                <soap12:fault name="Exception" use="literal" /> 
            </fault>
        </operation>
        <operation name="insertResultTemplate">
            <soap12:operation soapAction="InsertResultTemplate"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="Exception">
                <soap12:fault name="Exception" use="literal" /> 
            </fault>
        </operation>
        <operation name="insertResult">
            <soap12:operation soapAction="InsertResult"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="Exception">
                <soap12:fault name="Exception" use="literal" /> 
            </fault>
        </operation>
        <operation name="getResultTemplate">
            <soap12:operation soapAction="GetResultTemplate"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="Exception">
                <soap12:fault name="Exception" use="literal" /> 
            </fault>
        </operation>
    </binding>
    <service name="SOServiceService">
        <port name="SOServicePort" binding="tns:SOServicePortBinding">
            <soap12:address location="http://localhost:8080/constellation-adminjsf/WS-SOAP/sos"/>
        </port>
    </service>
</definitions>
